<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">INSCRIÇÕES</div>
        </h:form>
        <h:dataTable value="#{inscricao.inscricoes}" var="l"
    			styleClass="order-table"
    			headerClass="order-table-header"
    			rowClasses="order-table-odd-row,order-table-even-row"
    		>
                <h:column>
                        <!-- column header -->
                        <f:facet name="header">Número</f:facet>
                        <!-- row record -->
                        #{l.numero}
                </h:column>
                
                <h:column>
                        <!-- column header -->
                        <f:facet name="header">CPF</f:facet>
                        <!-- row record -->
                        #{l.cpf}
                </h:column>
                
                <h:column>
                        <!-- column header -->
                        <f:facet name="header">Nome</f:facet>
                        <!-- row record -->
                        #{l.nome}
                </h:column>

                <h:column>
                        <f:facet name="header">Cidade</f:facet>
                        #{l.cidade}
                </h:column>
                
                <h:column>
                        <!-- column header -->
                        <f:facet name="header">Estado</f:facet>
                        <!-- row record -->
                        #{l.estado}
                </h:column>
                
        </h:dataTable>
    </ui:define>

</ui:composition>